{% extends 'main/Statistic.html' %}

{% load static %}

{% block title %} COVID-19 в России {% endblock %}

{% block content-choice %}
<div class="container-fluid form-choice">
    <form method="POST" class="" action="{% url 'main:ru' %}">
        {% csrf_token %}
        <div class="form-row align-items-bottom justify-content-end">
            <div class="col-sm-8 my-1">
                <select class="form-control" id="region" name="region">
                    {% for reg in regions_list %}
                      <option value="{{reg}}" {% if reg == country_title %} selected {% endif %}>{{reg}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary my-1">Выбрать регион</button>

        </div>
    </form>
</div>
{% endblock %}