{% extends 'base.html' %}

{% load static %}

{% block title %} Последние статьи {% endblock %}

{% block content %}


<div class="container">
    <div class="title-statistic">Статистика по COVID-19 <br><span></span>в России</div>
  <div class="row">
    <div class="col">
      <img src="{% static 'images/statistic.png' %}">
    </div>
    <div class="col">

            <div class="stat-text">
                <div class="value-s" style="color:#15803D">6 937 756</div>
                <div class="value-text-label" style="color:#14532D">Человек выздоровело</div>

                <div class="stat-text-margin">
                    <div class="value-s" style="color:#991B1B">7 892 980</div>
                    <div class="value-text-label" style="color:#991B1B">Выявлено случаев</div>
                    <div class="stat-text-margin">
                        <div class="value-s" style="color:#C2410C">31 299</div>
                        <div class="value-text-label" style="color:#7C2D12">Выявлено случаев<br>за последние сутки</div>
                    </div>
                </div>
            </div>




            <div class="stat-text">
                <div class="value-s bg" style="color:#0284C7">>198,7 млн</div>
                <div class="value-text-label" style="color:#0C4A6E">Проведено тестов</div>
                <div class="stat-text-margin">
                    <div class="value-s" style="color:#525252">220 315</div>
                    <div class="value-text-label" style="color:#000000">Человек умерло</div>
                </div>
            </div>


    </div>
  </div>
</div>




<canvas id="myChart" width="100%" height="50"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        responsive: true,
        labels: {{dates|safe}},
        datasets: [{
            label: 'заражений',
            data: {{ cases }},
            borderColor: '#991B1B',
            borderWidth: 3,
            radius:0,
        },
        {
            label: 'смертей',
            data: {{ deaths }},
            borderColor: '#18181B',
            radius:0,

            borderWidth: 3,
            yAxisID: 'y2',
        },

        ]
    },

    options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: 'Количество заражений и смертей от COVID-19 в России зв всё время пандемии'
          },
        },
        interaction: {
          intersect: false,
        },
        scales: {
        y2: {
                type: 'linear',
                offset: true,
                position: 'left',
                stack: 'demo',
                stackWeight: 1,
                grid: {
                  borderColor: 'rgba(53, 53, 53, 1)'
                  },

            y: {
                min: 7000000,
                type: 'linear',
                offset: true,
                position: 'left',
                stack: 'demo',
                stackWeight: 2,
                grid: {
                  borderColor: 'rgba(206, 22, 22, 1)'
                  },
            },
            x: {
                stacked: true,
                text: 'Дата',
                title: {
                  display: true
                }
            },


            },





    }
},


});




</script>
{% endblock %}