{% extends 'base.html' %}

{% load static %}

{% block title %} Последние статьи {% endblock %}

{% block content %}


{% block content-title %} {% endblock %}


<canvas id="myChart" width="100%" height="50"></canvas>
<canvas id="myChartBar" width="100%" height="50"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        responsive: true,
        labels: {{dates_list|safe}},
        datasets: [
        {
            label: 'выздоровело',
            data: {{ recovered_list }},
            borderColor: '#84CC16',
            radius:0,
            borderWidth: 3,
            yAxisID: 'y2',
        },
        {
            label: 'выявлено',
            data: {{ cases_list }},
            borderColor: '#991B1B',
            borderWidth: 3,
            radius:0,
            yAxisID: 'y2',

        },
        {
            label: 'умерло',
            data: {{ deaths_list }},
            borderColor: '#18181B',
            radius:0,

            borderWidth: 3,
            yAxisID: 'y2',
        },

        {
            label: 'вакцинаций COVID-19',
            data: {{ tests_list }},
            borderColor: '#1D4ED8',
            radius:0,
            borderWidth: 3,
            yAxisID: 'y3',
        },

        ]
    },

    options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '{{country_title}}. Количество COVID-19 за всё время пандемии'
          },
        },
        interaction: {
          intersect: false,
        },
        scales: {
            y2: {
                            min: 0,

                type: 'linear',
                offset: true,
                position: 'left',
                stack: 'demo',
                stackWeight: 1,
                grid: {
                  borderColor: 'rgba(53, 53, 53, 1)'
                  },
           y3: {
                min: 0,
                type: 'linear',
                offset: true,
                position: 'left',
                stack: 'demo',
                stackWeight: 1,
                grid: {
                  borderColor: '#1D4ED8'
                  }
                  },

            y: {
                            min: 0,

                type: 'linear',
                offset: true,
                position: 'left',
                stack: 'demo',
                stackWeight: 1,
                grid: {
                  borderColor: 'rgba(206, 22, 22, 1)'
                  },
            },
            x: {
                stacked: true,
                text: 'Дата',
                title: {
                  display: true
                }
            },
            grid: {
                drawOnChartArea: false, // only want the grid lines for one axis to show up
            },


            },
    }
},


});

ctx = document.getElementById('myChartBar');
var myChartBar = new Chart(ctx, {
type: 'bar',
  data: {
        responsive: true,
        labels: {{regions_top_title|safe}},
        datasets: [
        {
            label: 'умерло',
            data: {{ regions_top_deaths }},
            borderColor: '#18181B',
            backgroundColor: '#18181B',
        },
        {
            label: 'выявлено',
            data: {{ regions_top_cases }},
            borderColor: '#991B1B',
            backgroundColor: '#991B1B',
        },

        ]},
  options: {
    plugins: {
        tooltip:{
        padding:0
        },
      title: {
        display: true,
        text: 'Регионы с нибольим количество зараженых'
      },
    },
    interaction: {
          intersect: false,
        },
    responsive: true,
    scales: {
      x: {
        stacked: true,
      },
      y: {
        stacked: true
      }
    }
  }
});


</script>
{% endblock %}